.support-icon {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #FFC107;
  color: #fff;
  padding: 10px;
  border-radius: 0 0 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: 999;
}

.support-icon:hover {
  background-color: #ff0000;
  transform: translateX(5px);
}